<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bank Of Kerala</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar.css') }}">

 <style>


    </style>
</head>
<body>
<div id="header">
  <div class="logo"><a class="logo" href="#">BANK OF KERALA</a></div>

  <div class="header-right">
      <a href="{{ url_for('employeehome') }}">HOME</a>
      <!--<a href="{{ url_for('customerlogout') }}">LOGOUT</a>-->

  </div>
</div>

</body>
</html>