<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar.css') }}">

<style>

</style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="content" style="height: 500px">

    <h3 style="color: white">Contacts</h3>
        <h4 style="color: white">Email : queries@bok.in</h4>
        <h4 style="color: white">Phone : 04828-2900000, +91 9200000000</h4>

</div>


</body>

</html>